// container styles

@import "app-settings";
@import "helpers";

.container {

  @include outer-container;

  background-color: #f8f8f8;
  padding: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 7px solid #c7c7c7;
}
