/*–––––––––––––––––––––
      $HELPERS
––––––––––––––––––––––*/

// modular scale – 3:4 perfect fourth, ideal size: 18px

// TODO – come up with better names for variables

$petaType: 7.478em;
$teraType: 5.61em;
$gigaType: 4.209em;
$megaType: 3.157em;
$hugeType: 2.369em;
$largeType: 1.777em;
$mediumType: 1.333em;
$normalType: 1em;  // base font-size
$smallType: 0.75em;
$littleType: 0.563em;
$tinyType: 0.422em;
$nanoType: 0.317em;