/*–––––––––––––––––––––
      $TYPOGRAPHY
––––––––––––––––––––––*/

@import "app-settings";
@import "helpers";


html {
  font-size: $baseFontSize;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0;
}

p {
  margin: 0 0 1.5em;
}

p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #003399;
}

// modular scale helper classes

.peta-type {
  font-size: $petaType;
}

.tera-type {
  font-size: $teraType;
}

.giga-type {
  font-size: $gigaType;
}

.mega-type {
  font-size: $megaType;
}

.huge-type {
  font-size: $hugeType;
}

.large-type {
  font-size: $largeType;
}

.medium-type {
  font-size: $mediumType;
}

.normal-type {
  font-size: $normalType;
}

.small-type {
  font-size: $smallType;
}

.small-type {
  font-size: $littleType;
}

.tiny-type {
  font-size: $tinyType;
}

.nano-type {
  font-size: $nanoType;
}






::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
