/*======================
========================

          GRID

========================
=======================*/


@import "variables";
@import "mixins";


// 4 column grid

// TODO – extend to 12 columns, make more flexible, like Neat

@media (min-width: 25em) {

  @mixin column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @mixin grid-fourth {
    @include column;
    width: 25%;
  }

  @mixin grid-third {
    @include column;
    width: 33.3%;
  }

  @mixin grid-half {
    @include column;
    width: 50%;
  }

  @mixin grid-two-thirds {
    @include column;
    width: 66.7%;
  }

  @mixin grid-full {
    @include column;
    width: 100%;
  }

}

