/*======================
========================

      VARIABLES

========================
=======================*/


/*======================
      $BRANDING
=======================*/

// use descriptive names for colors, like: bright-green or dark blue

$primary-color:               #5294e8;
$base-type-color:             #444;

/*======================
      $TYPESIZES
=======================*/

$base-type-size:              100%;
$base-line-height:            1.5;
$primary-font-fam:            sans-serif;
$bold:                        700;
$normal-type:                 400;

// modular scale – 3:4 perfect fourth, ideal size: 18px

// TODO – come up with better names for variables

$peta-type:                    7.478em;
$tera-type:                    5.61em;
$giga-type:                    4.209em;
$mega-type:                    3.157em;
$huge-type:                    2.369em;
$large-type:                   1.777em;
$medium-type:                  1.333em;
$normal-type:                  1em;      // base font-size
$small-type:                   0.75em;
$little-type:                  0.563em;
$tiny-type:                    0.422em;
$nano-type:                    0.317em;


/*======================
        $LINKS
=======================*/

$link-color:                  $color;
$link-hover-color:            darken($link-color, 20);


/*======================
        $LAYOUT
=======================*/

$layout-max-size:             75em;
$mobile-breakpoint:           25em;
// the breakpoint at which all columns should collapse

// breakpoints – where design breaks down and a media query is needed

$small-breakpoint:            32em;
$medium-breakpoint:           40em;
$medium-large-breakpoint:     50em;
$large-breakpoint:            65em;